@page "/game"
@rendermode InteractiveServer 

<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" crossorigin="anonymous"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js" crossorigin="anonymous"></script>


   <link rel="stylesheet" type="" href="/css/game.css">
<script src="https://kit.fontawesome.com/c407e6d2ac.js" crossorigin="anonymous"></script>
<section >

    <div style="@opacityContainer" class="containerGame">
        
    
            
        <div class="menuGameStyle">
            
       
 
    
   

    

               <div>
                <section class="containerColorsStyle">
                     <h1>COLOR: @colorX.ToUpper()</h1><h1>COLOR @colorY.ToUpper()</h1> 
                </section>
            <div style="position: relative;">
               <button class="buttonIconStyle" @onclick="Generate" type=""><i class="iconStyle fa-solid fa-rotate" style="color: #ff6bff;"></i></button> 
                
            </div>
<h1 class="resultStyle" style="@changeColor2">RESULLT: @result</h1>
            <label for="color"  class="labelStyle block mb-2 text-sm font-medium text-gray-900 dark:text-white">Choose your answer</label>
            
        <EditForm Model="checkingAnswer">
            <input type="text" id="color" style="@changeColor;@changeBorder" @bind-value="checkingAnswer" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="color..." required>
      
        <button type="button" @onclick="answer"  class="buttonStyle text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">ANSWER</button>
      </EditForm>
       
        </div>

        


  


     </div>

      <div>
    
   </div>
   </div>



</section>


    <section style="position: relative;">
        


  
<div style="@containerBubbleChat" class="containerBubbleChat flex items-start gap-2.5">
   <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-3.jpg" alt="Jese image">
   <div class="flex flex-col w-full max-w-[320px] leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl dark:bg-gray-700">
      <div class="flex items-center space-x-2 rtl:space-x-reverse">
         <span class="text-sm font-semibold text-gray-900 dark:text-white">Bonnie Green</span>
         <span class="text-sm font-normal text-gray-500 dark:text-gray-400">11:46</span>
      </div>
      <p class="text-sm font-normal py-2.5 text-gray-900 dark:text-white">That's awesome. I think our users will really appreciate the improvements.</p>
      <span class="text-sm font-normal text-gray-500 dark:text-gray-400">Delivered</span>
   </div>
   <button @onclick="openDropdown" id="dropdownMenuIconButton" data-dropdown-toggle="dropdownDots" data-dropdown-placement="bottom-start" class="inline-flex self-center items-center p-2 text-sm font-medium text-center text-gray-900 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-900 dark:hover:bg-gray-800 dark:focus:ring-gray-600" type="button">
      <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 4 15">
         <path d="M3.5 1.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 6.041a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 5.959a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z"/>
      </svg>
   </button>



   <div id="dropdownDots" style="@openMothefucka" class=" z-10 openMotheFucka bg-white divide-y divide-gray-100 rounded-lg shadow w-40 dark:bg-gray-700 dark:divide-gray-600">
      <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownMenuIconButton">
         <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Reply</a>
         </li>
         <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Forward</a>
         </li>
         <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Copy</a>
         </li>
         <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Report</a>
         </li>
         <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Delete</a>
         </li>
      </ul>
   </div>
</div>


    </section>
@code {

        private int x = 0;
        private int y = 5;
        private int click = 0;

        private string result = "";
        private string colorX = "";
        private string colorY = "";
        private string checkingAnswer {get; set;} = "";
        private string changeColor = "";

     private string changeColor2 = "";

     private string changeBorder = "";
     private string  openMothefucka = "";
     private string containerBubbleChat = "";
     private string opacityContainer = "";
        
Random valueX = new Random();
Random valueY = new Random();
private void Generate() {
x = valueX.Next(1,6);
y = valueY.Next(1,6);
changeColor2 = "color:white";
changeColor = "color:gray";
checkingAnswer = "";
result = "";
      changeBorder = "color: 1px solid black !important";


    if(x == 1 ) {

        colorX = "red";
          }
        if(y == 5) {
 colorY = "red";

        }
    if(x == 2) {

        colorX = "purple";
       
} 
        if( y== 4) {

            colorY = "purple";
        }

    if(x == 3 ) {

             colorX = "pink";
          
 } 
                if( y == 3) {

                    colorY = "pink";

                }
   
   if (x == 4 ) {

        colorX = "black";

 } 
            if(y == 4) {
   colorY = "black";

            }

  if(x == 5 ) {

        colorX = "white";
          
 }
           if(y == 1) {
 colorY = "white";

           }
   

    

}



private void  answer() {

   

    @* COMBO FIRST *@

        if(colorX == "red" && colorY == "red"){

            result = "red";


        } 

          if(colorX == "red" && colorY == "purple" ||  colorX == "purple" && colorY == "red"){

            result = "magenta";


        } 

           if(colorX == "red" && colorY == "pink" || colorX == "pink" && colorY == "red"){

            result = "raspberry pink";


        } 

           if(colorX == "red" && colorY == "black" ||  colorX == "black" && colorY == "red"){

            result = "dark red";


        } 

           if(colorX == "red" && colorY == "white" || colorX == "white" && colorY == "red"){

            result = "pink";


        } 

        @* COMBO TWO *@

           if(colorX == "purple" && colorY == "purple"){

            result = "purple";


        } 

             if(colorX == "purple" && colorY == "red" || colorX == "red" && colorY == "purple"){

            result = "magenta";


        } 


             if(colorX == "purple" && colorY == "pink" || colorX == "pink" && colorY == "purple"){

            result = "magenta";


        } 

             if(colorX == "purple" && colorY == "black" || colorX == "black" && colorY == "purple"){

            result = "dark purple";


        } 

             if(colorX == "purple" && colorY == "white" || colorX == "white" && colorY == "purple"){

            result = "light purple";


        } 

        @* COMBO THREE *@


             if(colorX == "pink" && colorY == "pink"){

            result = "pink";


        } 


              if(colorX == "pink" && colorY == "red" ||  colorX == "red" && colorY == "pink"){

            result = "raspberry pink";


        } 

              if(colorX == "pink" && colorY == "purple" || colorX == "purple" && colorY == "pink"){

            result = "magenta";


        } 

              if(colorX == "pink" && colorY == "black" || colorX == "black" && colorY == "pink"){

            result = "dark pink";


        } 


              if(colorX == "pink" && colorY == "white" || colorX == "white" && colorY == "pink"){

            result = "pale pink";


        } 


        @* COMBO FOURTH *@


              if(colorX == "black" && colorY == "black"){

            result = "black";


        } 

                   if(colorX == "black" && colorY == "red" || colorX == "red" && colorY == "black"){

            result = "dark red";


        } 

                   if(colorX == "black" && colorY == "purple" || colorX == "purple" && colorY == "black"){

            result = "dark purple";


        } 


                   if(colorX == "black" && colorY == "pink" || colorX == "pink" && colorY == "black"){

            result = "dark pink";


        } 

                   if(colorX == "black" && colorY == "white" || colorX == "white" && colorY == "black"){

            result = "neutral white";


        } 


        @* COMBO FITH *@

                       if(colorX == "white" && colorY == "white"){

            result = "white";


        } 

                      if(colorX == "white" && colorY == "red" || colorX == "red" && colorY == "white"){

            result = "pink";


        } 

                          if(colorX == "white" && colorY == "purple" || colorX == "purple" && colorY == "white"){

            result = "light purple";


        } 

                          if(colorX == "white" && colorY == "pink" || colorX == "pink" && colorY == "white"){

            result = "pale pink";


        } 

                          if(colorX == "white" && colorY == "black" || colorX == "black" && colorY == "white"){

            result = "neutral gray";


        } 

        Console.WriteLine(checkingAnswer);

     if(checkingAnswer == "" && result == "") {
     changeColor = "color: red";
       changeBorder = "border: 1px solid red !important";
        containerBubbleChat = "display: flex";
            opacityContainer = "opacity: 0.3";
        }

    if(checkingAnswer == result && result != "") {

        changeColor = "color: green";
            changeColor2 = "color: green";
            

    } if(checkingAnswer != result) {

        changeColor = "color: red";
    changeColor2 = "color: red";
          changeBorder = "border: 1px solid red !important";
          containerBubbleChat = "display: flex";
          opacityContainer = "opacity: 0.3";
    }
        

}



private void openDropdown() {
    click ++;

    if(click == 1) {

    openMothefucka = "visibility: visible";

    } if(click == 2) {

        click = 0;
    openMothefucka = "visibility: hidden";
    }

}


}